<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountryServlet</servlet-name>
        <servlet-class>servlet.CountryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWebDev</servlet-name>
        <servlet-class>servlet.AddWebDev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditWebDev</servlet-name>
        <servlet-class>servlet.EditWebDev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAddress</servlet-name>
        <servlet-class>servlet.GetAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>servlet.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSites</servlet-name>
        <servlet-class>servlet.GetSites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSite</servlet-name>
        <servlet-class>servlet.EditSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSite2</servlet-name>
        <servlet-class>servlet.EditSite2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Emergency</servlet-name>
        <servlet-class>servlet.Emergency</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistic</servlet-name>
        <servlet-class>servlet.Statistic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSite</servlet-name>
        <servlet-class>servlet.AddSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSiteAdmin</servlet-name>
        <servlet-class>servlet.AddSiteAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteAdmin</servlet-name>
        <servlet-class>servlet.SiteAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSiteAdmin</servlet-name>
        <servlet-class>servlet.RemoveSiteAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountryServlet</servlet-name>
        <url-pattern>/CountryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWebDev</servlet-name>
        <url-pattern>/AddWebDev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditWebDev</servlet-name>
        <url-pattern>/EditWebDev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAddress</servlet-name>
        <url-pattern>/GetAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSites</servlet-name>
        <url-pattern>/GetSites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSite</servlet-name>
        <url-pattern>/EditSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSite2</servlet-name>
        <url-pattern>/EditSite2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Emergency</servlet-name>
        <url-pattern>/Emergency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistic</servlet-name>
        <url-pattern>/Statistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSite</servlet-name>
        <url-pattern>/AddSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSiteAdmin</servlet-name>
        <url-pattern>/AddSiteAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteAdmin</servlet-name>
        <url-pattern>/SiteAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSiteAdmin</servlet-name>
        <url-pattern>/RemoveSiteAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
