<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginChecker</filter-name>
        <filter-class>model.filter.LoginChecker</filter-class>
    </filter>
    <filter>
        <filter-name>CookieLogin</filter-name>
        <filter-class>model.filter.CookieLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CookieLogin</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginChecker</filter-name>
        <url-pattern>/site.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.linked.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Documentation</servlet-name>
        <servlet-class>servlet.linked.Documentation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>servlet.linked.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>servlet.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>servlet.UserLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>servlet.linked.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernameAvailability</servlet-name>
        <servlet-class>servlet.UsernameAvailability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignup</servlet-name>
        <servlet-class>servlet.UserSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountVerified</servlet-name>
        <servlet-class>servlet.AccountVerified</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>servlet.linked.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordRequest</servlet-name>
        <servlet-class>servlet.ForgotPasswordRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordReset</servlet-name>
        <servlet-class>servlet.PasswordReset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>servlet.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailAvailiablity</servlet-name>
        <servlet-class>servlet.EmailAvailiablity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Site</servlet-name>
        <servlet-class>servlet.linked.Site</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Documentation</servlet-name>
        <url-pattern>/Documentation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/UserLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameAvailability</servlet-name>
        <url-pattern>/UsernameAvailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignup</servlet-name>
        <url-pattern>/UserSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountVerified</servlet-name>
        <url-pattern>/AccountVerified</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordRequest</servlet-name>
        <url-pattern>/ForgotPasswordRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordReset</servlet-name>
        <url-pattern>/PasswordReset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailAvailiablity</servlet-name>
        <url-pattern>/EmailAvailiablity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Site</servlet-name>
        <url-pattern>/Site</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
			30
		</session-timeout>
    </session-config>
</web-app>
