/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 21, 2014, 5:00:15 PM
    Author     : zenology
*/

.download-main-div {
    text-align: center;
    /*background-color: #37374E;*/
    padding: 50px 10px 50px 10px;

    background: #697293; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #697293 0%, #37374e 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#697293), color-stop(100%,#37374e)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #697293 0%,#37374e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #697293 0%,#37374e 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #697293 0%,#37374e 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #697293 0%,#37374e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#697293', endColorstr='#37374e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

.download-main-div>p{
    font-size: 15px;
    color: whitesmoke;
    margin-top: 10px !important;
}

.download-main-div h1,.download-main-div h2,.download-main-div h3,.download-main-div h4,.download-main-div h5{
    line-height: normal;
    color: whitesmoke;
}

.download-field{
    padding-bottom: 20px;
    overflow: hidden;
}

.download-box {
    text-align: center;
    color: whitesmoke !important;
    width: 300px;
    height: 200px;
    float: left;
    margin: 30px 2% 0 0;
    background-color: #37374e;
    opacity: .5;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);;
}

.download-box>h1 {
    color: whitesmoke !important;
    opacity: .5;
}

.download-box:hover {
    opacity: 1;
}

@media all and (min-width: 1180px) {
    /* Every first div of the line (1, 4 , 7 , 10)*/
    .download-box:nth-child(3n - 2){
        margin-left: calc((100% - 4% - 900px) / 2); 
    }
}

@media all and (max-width: 700px) {
    .download-box{
        margin-left: calc((100% - 300px) / 2);
    }
}

@media all and (min-width: 700px) and (max-width: 1180px) {
    .download-box:nth-child(odd){
        margin-left: calc((100% - 2% - 600px) / 2);
    }  
}
