/* Full Background (Login Page) */

body .full-bg {
    font-family: 'Open Sans', sans-serif !important;
}
.full-bg {
    background-image: url(../img/bgs/7.jpg) !important;
}
.full-bg .login-wrapper .box {
    background-color: rgba(255, 255, 255, 1) !important;
    margin: 0 auto;
    padding: 35px 0 30px;
    float: none;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-height: 470px !important;
    overflow-y: hidden !important;
}
.login-wrapper .content-wrap label {
    display: inline-block;
    float: left;
    font-weight: 600;
    cursor: auto;
    font-size: 12px;
    width: 140px;
    text-align: left;
}
.full-bg .login-wrapper input[type="text"],
.full-bg .login-wrapper input[type="password"],
.full-bg .login-wrapper input[type="email"],
.full-bg .login-wrapper input[type="phone"] {
    height: 30px !important;
}
.full-bg .login-wrapper .no-account p,
.full-bg .login-wrapper .no-account a {
    color: #b9b990;
}
.full-bg .content-wrap .step-content {
    margin-top: 0 !important;
    margin-left: 0 !important;
}
.full-bg .content-wrap textarea {
    border-radius: 0;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 1px solid #d0dde9;
    border-top: 1px solid #d0dde9;
    box-shadow: none;
    padding-left: 12px;
}
#step-bar .form-step {
    height: 50px;
    background-color: #455c84;
    opacity: .5;
    color: white;
    font-size: 12pt;
    text-align: center;
    padding-top: 5px;
}
#step-bar {
    margin-bottom: 50px;
}
#step-bar .active {
    opacity: 1;
}
.login-wrapper .content-wrap .form-wrapper .field-box {
    margin-bottom: 0;
}
.login-wrapper .content-wrap .form-wrapper .alert-msg {
    display: block;
    margin-left: 160px;
    position: relative;
    top: -12px;
    text-align: left;
}
.login-wrapper .content-wrap .field-box button[disabled="disabled"] {
    background-color: #969696;
    border-color: #969696;
    color: #c9c9c9
}
.login-wrapper .content-wrap .field-box button[disabled="disabled"]:hover {
    background-color: #969696;
    border-color: #969696;
    color: #c9c9c9;
}
.content-wrap .field-box .chosen-container {
    width: 65.81196581196582% !important;
    text-align: left;
    margin-bottom: 20px;
}
.content-wrap .field-box .chosen-drop {
    max-height: 250px;
}
.content-wrap .field-box .chosen-results {
    max-height: 200px;
}


/* Media Query */
@media all and (max-width: 479px) {
    .full-bg .login-wrapper .box {
        width: 300px;
        margin: 0 auto
    }
    .full-bg .login-wrapper .no-account {
        width: 300px;
        margin: 10px auto 0 auto;
    }
}
@media all and (min-width: 480px) and (max-width: 699px) {
    .full-bg .login-wrapper .box {
        width: 400px;
        margin: 0 auto
    }
    .full-bg .login-wrapper .no-account {
        width: 400px;
        margin: 10px auto 0 auto;
    }
}
@media all and (min-width: 700px) {
    .full-bg .login-wrapper .box {
        width: 600px;
        margin: 0 auto;
    }
    .full-bg .login-wrapper .no-account {
        width: 600px;
        margin: 10px auto 0 auto;
    }
}
/* end Full Background (Login Page) */