.index-page {
    background: #af9769;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-radial-gradient(center, ellipse cover, #af9769 0%, #4f4f0f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #af9769), color-stop(100%, #4f4f0f));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #af9769 0%, #4f4f0f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #af9769 0%, #4f4f0f 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #af9769 0%, #4f4f0f 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #af9769 0%, #4f4f0f 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#af9769', endColorstr='#4f4f0f', GradientType=1);
    /* IE6-8 fallback on horizontal gradient */
}
.document {
    background: #936969;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #936969 0%, #4e3737 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #936969), color-stop(100%, #4e3737));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #936969 0%, #4e3737 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #936969 0%, #4e3737 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #936969 0%, #4e3737 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #936969 0%, #4e3737 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#936969', endColorstr='#4e3737', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.download {
    background: #697293;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #697293 0%, #37374e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #697293), color-stop(100%, #37374e));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #697293 0%, #37374e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #697293 0%, #37374e 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #697293 0%, #37374e 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #697293 0%, #37374e 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#697293', endColorstr='#37374e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
/* Big Header */

.page-main-div {
    text-align: center;
    /*background-color: #37374E;*/
    padding: 50px 10px 50px 10px;
}
.page-main-div>p {
    font-size: 15px;
    color: whitesmoke;
    margin-top: 10px !important;
}
.page-main-div h1,
.page-main-div h2,
.page-main-div h3,
.page-main-div h4,
.page-main-div h5 {
    line-height: normal;
    color: whitesmoke;
}
/* end Big Header */