/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 21, 2014, 5:00:15 PM
    Author     : zenology
*/

.php {
    background-image: url('../img/secuotp/PHP-logo.png');
    background-size: cover;   
}

.java {
    background-image: url('../img/secuotp/Java-logo.png');
    background-size: cover;   
}

.net {
    background-image: url('../img/secuotp/Microsoft-net-logo.png');
    background-size: cover;   
}

.python {
    background-image: url('../img/secuotp/Python-logo.png');
    background-size: cover;   
}

.swift {
    background-image: url('../img/secuotp/Swift-logo.png');
    background-size: cover;   
}

.ruby {
    background-image: url('../img/secuotp/Ruby-logo.png');
    background-size: cover;   
}

.page-field{
    padding-bottom: 20px;
    overflow: hidden;
}

.page-box {
    text-align: center;
    color: whitesmoke !important;
    width: 300px;
    height: 200px;
    float: left;
    margin: 30px 2% 0 0;
    opacity: .75;

    -webkit-box-shadow: 1px 0px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.75);;
}

.page-box>h1 {
    color: whitesmoke !important;
    opacity: .5;
}

.page-box>div {
    height: 200px;
    background-color: rgb(235, 98, 98);
    opacity: 0;
}

.page-box>div h1 {
    padding-top: calc((200px - 40px) / 2);
    color: whitesmoke;
}

.page-box:hover{
    opacity: 1;
}

.page-field a:hover .page-coming-soon>div {
    opacity: .9;
}

@media all and (min-width: 1180px) {
    /* Every first div of the line (1, 4 , 7 , 10)*/
    a:nth-child(3n - 2)>.page-box{
        margin-left: calc((100% - 4% - 900px) / 2); 
    }
}

@media all and (max-width: 700px) {
    .page-box{
        margin-left: calc((100% - 300px) / 2);
    }

    .page-box>div {
        opacity: .75;
    }
}

@media all and (min-width: 700px) and (max-width: 1180px) {
    a:nth-child(odd)>.page-box{
        margin-left: calc((100% - 2% - 600px) / 2);
    }  
}